{% extends "layouts/base.html" %}
{% from 'components/navs.html' import navbar with context %}
{% from 'components/form.html' import search_box %}
{% from 'components/cards.html' import university_card, news_item %}
{% from 'components/headers.html' import section_header %}
{% from 'components/footer.html' import footer %}


{% set page_title = "Welcome to University Guide!" %}
{% set body_class = "page-home" %}

{% block nav %}
    {{ navbar(show_logo=True) }}
    <div class="homepage-header">
        <div class="homepage-header__container">
            <div class="homepage-header__hero">
                <h4>Welcome to The University Guide!</h4>
                <span>Your way to succeed!</span>
            </div>
            <div class="homepage-header__search-box">{{ search_box() }}</div>
            <div class="homepage-header__personality-test">
                <span>Not sure what to study? We can help you!</span>
                <a class="btn" href="#">
                    Take Holland’s personality test
                    <div class="decorator-right">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="featured-universities vertical-slider">
        <div class="vertical-slider__container">
            {% for university in payload.featured_universities %}
                <div class="slider-item">
                    {{ university_card(title=university.name) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="news container">
        <div class="news__header">
            {{ section_header('Latest News') }}
        </div>
        <div class="news__items row">
            {% for article in ['A', 'B', 'C', 'D'] %}
                <div class="news__item column">
                    {{ news_item() }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="blog-posts">
        <div class="container">
            <div class="blog-posts__header">
                {{ section_header('Blog') }}
            </div>
        </div>
        <div class="blog-posts__posts vertical-slider">
            <div class="vertical-slider__container">
                {% for university in ['German University in Cairo', 'B', 'C', 'D'] %}
                    <div class="slider-item">
                        {{ university_card(title=university) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {{ footer(logo=url_for('static', filename="images/logo.png")) }}
{% endblock %}
