{% extends "layouts/base.html" %}
{% from 'components/navs.html' import navbar %}
{% from 'components/containers.html' import box %}
{% from 'components/form.html' import input, flash_messages %}
{% from 'components/buttons.html' import button %}
{% from 'components/footer.html' import footer %}

{% set page_title = "Signup" %}
{% set body_class = "page-signup auth" %}

{% block nav %}
    {{ navbar(show_logo=True) }}
{% endblock %}

{% block body %}
    <div class="auth__header container">
        <div class="auth__header__logo">
            <img src="{{ url_for('static', filename="images/logo-round.png") }}" alt="University Guide Logo">
        </div>
        <h4>Sign up</h4>
        <p>Lorem ipsum sign up benefits!</p>
    </div>
    <div class="container">
        {% call box(class="auth__box") %}
            <form class="auth__form" method="post" action="/signup">
                {{ flash_messages() }}
                {{ input(placeholder="First name", name="first_name") }}
                {{ input(placeholder="Last name", name="last_name") }}

                {{ input(placeholder="Email", name="email", type="email") }}
                {{ input(placeholder="Grade", name="grade") }}

                {{ input(placeholder="Password", type="password", name="password") }}
                {{ input(placeholder="Confirm Password", type="password", name="confirm_password") }}

                {{ button(text="Signup", class="btn full-width", type="submit") }}
            </form>
        {% endcall %}
        <div class="auth__bottom-note">
            Already have an account? <a href="/login">Login</a>
        </div>
    </div>
{% endblock %}