.navbar {
  $self: &;

  height: 70px;
  background: $primary-color;
  color: $secondary-color;
  padding: 15px;


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 50rem) {
      max-width: 960px;
      padding: 0 15px;
      margin: 0 auto;
    }
  }


  &__back-btn {
    & > i {
      font-size: 1.7em;
    }
  }

  &__logo {
    width: 48px;
  }

  &__menu-btn {
    & > i {
      font-size: 1.8em;
    }
  }
}