.page-home {
  .homepage-header {
    @extend .padded;
    background: $primary-color;
    color: $secondary-color;

    &__container {
      @media (min-width: 50rem) {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 15px;
      }
    }

    &__hero {
      margin-bottom: 20px;

      & > h4 {
        margin-top: 1em;
        margin-bottom: 15px;
      }
    }

    &__search-box {
      margin-bottom: 20px;
    }

    &__personality-test {
      @media (min-width: 50rem) {
        width: 400px;
      }
    }
  }

  .featured-universities {
    margin: 15px 0;
    padding-inline-start: 15px;

    & .slider-item {
      width: 33vw;
      @media (min-width: 30rem) {
        width: 5rem;
      }
    }
  }

  .news {
    &__header {
      margin-bottom: 15px;
    }

    &__items {
      & > * {
        margin-bottom: 10px;
      }
    }
  }

  .blog-posts {
    margin-bottom: 15px;

    &__header {
      margin-bottom: 15px;
    }

    & .slider-item {
      width: 80vw;
      @media (min-width: 30rem) {
        width: 10rem;
      }
    }

    &__posts {
      padding-inline-start: 15px;
    }
  }
}

