{% macro navbar(menu_items=[
                            {'title':'Home', 'link':'/'},
                            {'title':'Search', 'link':'/search'},
                            {'title':'Scholarships', 'link':'/scholarships'},
                            {'title':'Universities', 'link':'/universities'},
                            {'title':'Personality Test', 'link':'/quiz'},
                            {'title':'Blog', 'link':'/blog'},
                            {'title':'Contact us', 'link':'/contact-us'},
                            {'title':'Login', 'link':'/login'},

], show_logo=True, color=None) %}
    <div class="navbar" style="{{ 'background-color:%s' % color if color is not none }}">
        <div class="navbar__container">
            {% if show_logo %}
                <div class="navbar__logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                </div>
            {% else %}
                <div class="navbar__back-btn navbar__back-btn--closed">
                    <i class="fas fa-arrow-left"></i>
                </div>
            {% endif %}
            <ul class="navbar__menu">
                {% for menu_item in menu_items %}
                    <li><a href="{{ menu_item.link }}">{{ menu_item.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="navbar__menu-btn navbar__menu-btn--closed">
                <i class="fas fa-bars"></i>
            </div>
            <div class="navbar__menu-btn navbar__menu-btn--open hidden">
                <i class="fas fa-times"></i>
            </div>
        </div>

    </div>
{% endmacro %}